In [317]:
import pandas as pd
from datetime import datetime

In [318]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [319]:
cols=['Name','Market Cap (US$ Billion)']

In [320]:
def extract():
    df = pd.DataFrame(cols)
    df = extract_from_json("bank_market_cap.json")
    return df

In [321]:
# Write your code here
def extract_exchange_rates():
    exchange_rate = pd.read_csv("exchange_rates.csv")
    exchange_rate = exchange_rate.rename(columns={"Unnamed: 0":"Currency"})
    return exchange_rate

In [322]:
def transform(market_cap, currency):
    all_rates = extract_exchange_rates()
    rate = all_rates.loc[lambda all_rates: all_rates['Currency'] == currency]['Rates']
    market_cap["Market Cap (US$ Billion)"] = round(market_cap["Market Cap (US$ Billion)"].multiply(rate.iloc[0]), 3)
    market_cap = market_cap.rename(columns={"Market Cap (US$ Billion)":"Market Cap ({} Billion)".format(currency)})
    return market_cap

In [334]:
def load(bank_market_cap, currency):
    bank_market_cap.to_csv("bank_market_cap_{}.csv".format(currency), index=False)

In [335]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

In [336]:
def get_currency():
    user_input = input("Enter a currency that you would like to see (Default = USD):")
    all_rates = extract_exchange_rates()
    currency = "USD"
    for rate in all_rates['Currency']:
        if (user_input == rate):
            currency = user_input
    return currency

In [337]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

In [338]:
# Call the function here
extracted_data = extract()

# Print the rows here
extracted_data.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [339]:
# Write your code here
log("Extract phase Ended")

In [340]:
# Write your code here
log("Transform phase Started")

In [341]:
# Call the function here
currency = get_currency()
transformed_data = transform(extracted_data, currency)
# Print the first 5 rows here
transformed_data.head()

                                      Name  Market Cap (EUR Billion)
0                           JPMorgan Chase                   321.545
1  Industrial and Commercial Bank of China                   283.940
2                          Bank of America                   267.586
3                              Wells Fargo                   253.342
4                  China Construction Bank                   211.712

In [342]:
# Write your code here
log("Transform phase Ended")

In [343]:
# Write your code here
log("Load phase Started")

In [344]:
# Write your code here
load(transformed_data, currency)

In [345]:
# Write your code here
log("Load phase Ended")