In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [2]:
#Getting the data from the url
url = "https://web.archive.org/web/20200318083015/https://en.wikipedia.org/wiki/List_of_largest_banks"
print("Starting request")
r = requests.get(url)
print("status:",r.status_code)
#assigning to html data as text
html_data = r.text

Starting request
status: 200

In [3]:
html_data[760:783]

'tic/css/banner-styles.c'

In [4]:
#parsing the content with BeautifulSoup
soup = bs(html_data, 'html.parser')

In [5]:
#Creating dataframe, finding the right cells and assigining the value into the dataframe.
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])
for row in soup.find_all('tbody')[2].find_all('tr'):
    col = row.find_all('td')
    for idx, cell in enumerate(col):
        if (idx == 1):
            name = cell.text.strip()
        elif (idx == 2):
            market_cap = cell.string.strip()
            row = {"Name":name, "Market Cap (US$ Billion)":market_cap}
            data.loc[len(data)] = row
        else:
            continue

# print (data)

In [6]:
#Display first 5 rows with head function
data.head()

                                      Name Market Cap (US$ Billion)
0                           JPMorgan Chase                  390.934
1  Industrial and Commercial Bank of China                  345.214
2                          Bank of America                  325.331
3                              Wells Fargo                  308.013
4                  China Construction Bank                  257.399

In [7]:
#Loading the data to json file
data.to_json("bank_market_cap.json")